body {
  width: 375px;
  align-items: center;
}

nav {
  background-color: white;
  margin: 10px;
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.header2 {
  display: flex;
  justify-content: space-between;
}

.menu-button {
  width: 40px;
  padding-right: 30px;
  height: 50px;
}

header {
  text-align: center;
  background-image: url(../images/header-illsutration-mobile@2x.png);
}

h1 {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  font-weight: bold;
  padding: 10px;
}

span {
  color: #36b37e;
}

.header-paragraph {
  color: #172b4d;
  font-size: 25px;
  padding: 15px;
}

.follow-link {
  display: flex;
  justify-content: center;
}

a {
  padding: 10px;
}
