body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(114, 112, 109);
  margin: 0;
}

.mobile-view {
  width: 375px;
  background-color: white;
  padding: 20px;
  margin: 50px auto;
}

/* navbar start */
nav {
  display: flex;
  color: black;
  justify-content: space-between;
}

nav h2 {
  font-size: 1em;
}

.destop-menu {
  display: none;
}

/* navbar end */

/* header start */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  background-image: url(images/header-illsutration-mobile.svg);
}

header h1 {
  color: #172b40;
  font-size: 2.5em;
  font-weight: 700;
}

header span {
  color: #26b37e;
}

header p {
  color: #172b4d;
  font-size: 1.25em;
  line-height: 28px;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social-list li {
  padding: 10px;
}

.disable-circle {
  padding: 40px 0;
}

/* header end */

/* main start */
main {
  display: grid;
  grid-template-columns: auto;
  width: 375px;
}

.card {
  margin: 20px 0;
}

.card img {
  width: 375px;
  height: 375px;
  border-radius: 7px;
}

.card-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  position: relative;
  bottom: 40px;
  background-color: white;
  border: 2px solid rgb(170, 168, 168);
}

button:hover {
  background-color: #45a049;
}

footer h1 {
  font-size: 3em;
  font-weight: 800;
  line-height: 70px;
  color: #172b40;
  text-align: center;
}

.card-items-container h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #3a4a42;
}

.card-items-container ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0 50px 0;
}

.card-items-container li {
  background-color: #ebf0ee;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 600;
}

.card-button button {
  font-weight: 600;
  font-size: 1.5em;
  background-color: #36b37f;
  padding: 12px;
  margin-bottom: 40px;
  border: 0;
  border-radius: 8px;
  color: white;
}

/* main end */

/* about us start */
.about-grid {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 60px;
}

.about-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-header .card-button {
  background-image: url(images/illustration-\ about\ me-\ mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.about-grid h1 {
  font-size: 3em;
  color: #172b4d;
  background-image: url(/images/illustration\ 1-\ about\ me-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.about-grid p {
  color: #172b40;
  line-height: 32px;
  font-size: 1.5em;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  border: 1px solid rgb(171, 170, 170);
  margin: 20px 0;
  border-radius: 8px;
}

.about-card img {
  width: 150px;
  padding: 20px 0;
  margin: 0 auto;
}

.about-card h2 {
  color: #344563;
  font-size: 2em;
  margin: 0;
}

.about-card ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.about-card li {
  margin: 10px;
  font-size: 0.8em;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  color: #26b37e;
  font-weight: 800;
}

/* about us end */

/* footer start */

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input[type=submit] {
  background-color: #36b37f;
  color: white;
  font-family: Inter, sans-serif;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text],
input[type=email],
select {
  width: 90%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 26px;
  resize: vertical;
}

textarea {
  width: 90%;
  color: black;
  padding: 50px 20px;
  border: 1px solid green;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.footer-mail {
  text-decoration: none;
  font-family: Inter, sans-serif;
}

/* footer end */

/* Desktop Version Start */

@media (min-width: 1440px) {
  /* desktop Nav */
  body {
    background-color: #e5e5e5;
  }

  .mobile-view {
    width: auto;
    background-color: none;
    padding: 0;
    margin: 0;
  }

  nav h2,
  nav img {
    display: none;
  }

  nav {
    display: block;
  }

  .destop-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 20px 0;
    margin: 0;
  }

  .destop-menu-list {
    margin: 0 30px;
    font-size: 1.2em;
  }

  /* Desktop Nav End */

  /* Desktop Header Start */
  header {
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
    gap: 24px;
    position: absolute;
    width: 920px;
    height: 756px;
    left: 254px;
    top: 98px;
  }

  .nav-header-background {
    background-image: url(images/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 1250px;
    top: -398px;
    left: 27px;
  }

  header h1 {
    width: 920px;
    height: 114px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
  }

  header p {
    width: 920px;
    height: 96px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }

  .social-list {
    align-items: center;
    padding: 0;
    width: 200px;
    height: 40px;
  }

  .disable-circle {
    width: 920px;
    height: 114px;
  }

  /* Desktop Header End */

  /* Desktop Main Start */
  section {
    width: 1440px;
  }

  main {
    display: block;
    width: 1440px;
  }

  .main-grid-container {
    display: grid;
    grid-template-columns: 369px 369px 369px;
    justify-content: center;
    column-gap: 30px;
  }

  .card img {
    width: 369px;
    height: 375px;
    border-radius: 7px;
  }

  main h1 {
    text-align: center;
    font-size: 4em;
  }

  /* Desktop Main End */

  /* Desktop About Us */
  .skills-grid {
    display: grid;
    grid-template-columns: 369px  369px 369px;
    justify-content: center;
    column-gap: 30px;
  }

  .about-grid {
    display: block;
  }

  footer h1 {
    font-size: 1.8em;
    text-align: left;
    line-height: 50px;
  }

  .about-grid h1 {
    background-image: none;
  }

  .about-background1 {
    background-image: url(images/illustration\ about\ me\ desktop.png), url(images/illustration-about-me-2-desktop.png);
    background-position: center, left bottom;
    background-repeat: no-repeat;
    padding: 0;
  }

  .about-header {
    background-image: none;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding: 0 260px;
    margin: 0;
  }

  /* Desktop About Us */

  /* Desktop Footer Start */
  footer {
    display: grid;
    grid-template-columns: 463px 570px;
    justify-content: center;
    gap: 40px;
    align-items: center;
  }

  .social-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  footer .social-footer {
    grid-column-start: auto;
  }

  .contact-form {
    display: block;
    text-align: left;
  }

  input[type=text],
  input[type=email],
  select {
    width: 108%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 17px;
  }

  textarea {
    width: 108%;
    color: black;
    padding: 50px 20px;
    border: 1px solid green;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
  }

  /* Desktop Footer End */
}

/* Desktop Version End */
